<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>两数之和</title>
    <link rel="stylesheet" href="/public/global.css" />
    <link rel="stylesheet" href="/public/AtomOneDark.css" />
    <script src="/public/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>

  <body>
    <div class="container">
      <h1>两数之和</h1>
      <p>
        给定一个整数数组 nums 和一个目标值
        target，请你在该数组中找出和为目标值的那 两个
        整数，并返回他们的数组下标。
      </p>
      <p>
        你可以假设每种输入只会对应一个答案。但是，你不能重复利用这个数组中同样的元素。
      </p>
      <p>示例:</p>
      <pre>
        <code lang="JavaScript">
          给定 nums = [2, 7, 11, 15], target = 9

          因为 nums[0] + nums[1] = 2 + 7 = 9
          所以返回 [0, 1]
        </code>
      </pre>
      <p>解题方式一：两次遍历（M）</p>
      <pre>
        <code lang="JavaScript">
          var twoSum = function(nums, target) {
            for (var i = 0; i < nums.length; i++) {
              var first = nums[i];
              // 第二次遍历从 i+1 开始
              for (var j = i + 1; j < nums.length; j++) {
                var last = nums[j];
                // 满足条件 return i 和 j 组成的数组即可
                if (first + last === target) {
                  return [i, j];
                }
              }
            }
          };
        </code>
      </pre>
      <p>解题方式二：利用数组方法 indexOf 或 lastIndexOf（M）</p>
      <pre>
        <code lang="JavaScript">
          var twoSum = function(nums, target) {
            for (var i = 0; i < nums.length; i++) {
              var first = nums[i];
              // 利用相减得到符合我们要求的值，记为 last
              var last = target - first;
              // 利用 indexOf 查找数组中 last 的下标，当然不一定存在该值
              // 注意：使用 lastIndexOf 也可以
              var j = nums.indexOf(last);
              // 这里还需要加的一个判断就是 j 和 i 不能相同
              // 因为题干给的条件中表示不能重复利用数组中相同的元素
              if (j !== -1 && j !== i) {
                return [i, j];
              }
            }
          };
        </code>
      </pre>
      <p>解题方式三：（O）</p>
      <pre>
        <code lang="JavaScript">
          var twoSum = function(nums, target) {
            // 创建一个数组
            var a = [];
            for (var i = 0, len = nums.length; i < len; i++) {
              // 相减
              var tmp = target - nums[i];
              // 判断数组 a 中是否存在以 tmp 为下标的值
              if (a[tmp] !== undefined) {
                // 一旦存在，就可以取出 a 中保存的该值的下标值并返回结果
                return [a[tmp], i];
              }
              // 如果不存在，则将本次遍历的 i 作为值，nums[i] 作为下标存入 a 数组
              a[nums[i]] = i;
            }
          };
        </code>
      </pre>
    </div>
  </body>
  <script>
    var twoSum = function(nums, target) {
      for (var i = 0; i < nums.length; i++) {
        var first = nums[i];
        // 第二次遍历从 i+1 开始
        for (var j = i + 1; j < nums.length; j++) {
          var last = nums[j];
          // 满足条件 return i 和 j 组成的数组即可
          if (first + last === target) {
            return [i, j];
          }
        }
      }
    };
  </script>
  <script>
    var twoSum = function(nums, target) {
      for (var i = 0; i < nums.length; i++) {
        var first = nums[i];
        // 利用相减得到符合我们要求的值，记为 last
        var last = target - first;
        // 利用 indexOf 查找数组中 last 的下标，当然不一定存在该值
        // 注意：使用 lastIndexOf 也可以
        var j = nums.indexOf(last);
        // 这里还需要加的一个判断就是 j 和 i 不能相同
        // 因为题干给的条件中表示不能重复利用数组中相同的元素
        if (j !== -1 && j !== i) {
          return [i, j];
        }
      }
    };
  </script>
  <script>
    var twoSum = function(nums, target) {
      // 创建一个数组
      var a = [];
      for (var i = 0, len = nums.length; i < len; i++) {
        // 相减
        var tmp = target - nums[i];
        // 判断数组 a 中是否存在以 tmp 为下标的值
        if (a[tmp] !== undefined) {
          // 一旦存在，就可以取出 a 中保存的该值的下标值并返回结果
          return [a[tmp], i];
        }
        // 如果不存在，则将本次遍历的 i 作为值，nums[i] 作为下标存入 a 数组
        a[nums[i]] = i;
      }
    };
    console.log(twoSum([2, 2, 11, 15, 7], 4));
  </script>
</html>
