<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>快速排序</title>
    <link rel="stylesheet" href="/public/global.css" />
    <link rel="stylesheet" href="/public/AtomOneDark.css" />
    <script src="/public/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>

  <body>
    <div class="container">
      <h1>快速排序</h1>
      <p>
        数组中指定一个元素作为标尺，比它大的放到该元素后面，比它小的放到该元素前面，如此重复直至全部正序排列。
      </p>
      <p>快速排序分以下三步：</p>
      <p>1.选基准：在数据结构中选择一个元素作为基准(pivot)</p>
      <p>
        2.划分区：参照基准元素值的大小，划分无序区，所有小于基准元素的数据放入一个区间，所有大于基准元素的数据放入另一区间，分区操作结束后，基准元素所处的位置就是最终排序后它应该所处的位置
      </p>
      <p>
        3.递归：对初次划分出来的两个无序区间，递归调用第 1步和第
        2步的算法，直到所有无序区间都只剩下一个元素为止。
      </p>
      <pre>
      <code lang="JavaScript">
          function quickSort(array) {
            if (array.length <= 1) return array;
        
            // 选取一个基数，这里取靠近中间的数，也可以随机取一个
            var pivotIndex = Math.floor(array.length / 2);
            var pivot = array.splice(pivotIndex, 1)[0];
        
            //左右区间，用于存放排序后的数
            var left = [];
            var right = [];
        
            for (var i = 0; i < array.length; i++) {
              //小于基准，放于左区间，大于基准，放于右区间
              if (array[i] < pivot) {
                left.push(array[i]);
              } else {
                right.push(array[i]);
              }
            }
            //这里使用concat操作符，将左区间，基准，右区间拼接为一个新数组
            //然后递归1，2步骤，直至所有无序区间都 只剩下一个元素 ，递归结束
            return quickSort(left).concat([pivot], quickSort(right));
          }
      </code>
    </pre>
    </div>
  </body>
  <script>
    function quickSort(array) {
      if (array.length <= 1) return array;

      // 选取一个基数，这里取靠近中间的数，也可以随机取一个
      var pivotIndex = Math.floor(array.length / 2);
      var pivot = array.splice(pivotIndex, 1)[0];

      //左右区间，用于存放排序后的数
      var left = [];
      var right = [];

      for (var i = 0; i < array.length; i++) {
        //小于基准，放于左区间，大于基准，放于右区间
        if (array[i] < pivot) {
          left.push(array[i]);
        } else {
          right.push(array[i]);
        }
      }
      //这里使用concat操作符，将左区间，基准，右区间拼接为一个新数组
      //然后递归1，2步骤，直至所有无序区间都 只剩下一个元素 ，递归结束
      return quickSort(left).concat([pivot], quickSort(right));
    }

    console.log(quickSort([3, 1, 55, 31, 654, 734, 13, 543, 34]));
  </script>
</html>
