<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <script>
    var websocket = new WebSocket('ws://192.168.0.105:10011')

    websocket.onopen = function () {
      console.log('建立连接成功')

      var o = {
        type: 1
      }

      websocket.send(JSON.stringify(o))
    }

    websocket.onmessage = function () {
      console.log('收到信息');
    }
  </script>
</body>

</html>